# Supabase project URL from Project Settings > API
VITE_SUPABASE_URL=https://kjmjcsqmernupgofwtws.supabase.co/rest/v1/

# Supabase publishable/anon key from Project Settings > API
VITE_SUPABASE_ANON_KEY=sb_publishable_0W5XB4dPdILJbfVqDYJCaQ_Sz4ivo3e
